* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */
nav {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}
#nav .navbar-brand {
  font-family: 'Playball', cursive;
}

/* header section */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(img/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  top: 0;
  right: 0;
}
#header .header-text {
  position: absolute;
  top: 50%;
}
#header .header-text p {
  font-size: 30px;
}
#header .header-text h1 {
  font-size: 60px;
}
#header .header-btn a {
  background: linear-gradient(45deg, rgba(230, 247, 3, 0.5), rgba(230, 247, 3, 0.5));
}
#header .header-img {
  position: absolute;
  top: 15%;
}

@media only screen and (max-width: 600px) {
  #header {
    height: 130vh;
  }
  #header .header-text {
    top: 70%;
  }
  #header .header-text p {
    font-size: 25px;
  }
  #header .header-text h1 {
    font-size: 50px;
  }
}

/* about section */
#about {
  background-color: #191919;
}
#about .about-head h2 {
  font-size: 45px;
}
#about .about-head h2::after {
  content: '';
  height: 2px;
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 7px;
  background-color: #c44343;
}
#about .about-text p {
  text-align: justify;
}

/* services section */
#services {
  position: relative;
  background-color: #101010;
}
#services .services-head h1 {
  font-size: 100px;
  position: relative;
  color: rgba(124, 223, 157, 0.2);
  top: 0;
  right: 0;
}
#services .services-head h2 {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 43.3%;
}

@media only screen and (max-width: 600px) {
  #services .services-head h1 {
    font-size: 90px;
  }
  #services .services-head h2 {
    font-size: 35px;
    left: 28.5%;
  }
}


/* blog section */
#blog {
  background-color: #191919;
}
#blog .blog-head h1 {
  font-size: 45px;
  color: #fff;
}
#blog .blog-head h1::after {
  content: '';
  height: 2px;
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 7px;
  background-color: #c44343;
}


/* my work section */
#mywork {
  position: relative;
  background-color: #101010;
}
#mywork .mywork-head h1 {
  font-size: 100px;
  position: relative;
  color: rgba(124, 223, 157, 0.2);
  top: 0;
  right: 0;
}
#mywork .mywork-head h2 {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 41%;
}

@media only screen and (max-width: 600px) {
  #mywork .mywork-head h1 {
    font-size: 80px;
  }
  #mywork .mywork-head h2 {
    font-size: 35px;
    left: 22.5%;
  }
}


/* team section */
#team {
  background-color: #191919;
}
#team .card {
  background-color: #a5a1a1;
}
#team .team-head h1 {
  font-size: 45px;
  color: #fff;
}
#team .team-head h1::after {
  content: '';
  height: 2px;
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 7px;
  background-color: #c44343;
}
@media only screen and (max-width: 600px) {
  #team .team-head h1::after {
    width: 150px;
  }
}


/* contact section */
#contact {
  position: relative;
  background-color: #101010;
}
#contact .contact-head h1 {
  font-size: 100px;
  position: relative;
  color: rgba(124, 223, 157, 0.2);
  top: 0;
  right: 0;
}
#contact .contact-head h2 {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 42%;
}

@media only screen and (max-width: 600px) {
  #contact .contact-head h1 {
    font-size: 90px;
  }
  #contact .contact-head h2 {
    font-size: 40px;
    left: 24%;
  }
}


/* copyright section */
#copyright {
  background-color: #191919;
}
#copyright .up-button button {
  height: 50px;
  width: 50px; 
  border-radius: 50%;
}